.client-view {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 1920px;
  padding: 0 var(--lumo-space-l);
}
.client-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);

}
